
        body {
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://source.unsplash.com/1600x900/?noodles");

            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;

            background-size: cover;
        }

        .mt-1 {
            color: aliceblue;
        }

        .title-font_mb-1 {
            color: rgb(14, 224, 126);
        }
        .font_logo{
            font-family: 'Smooch', cursive;
            fill: rgb(21, 212, 72);
            font-size: 40px;
            margin: 2px;
        }
        .text-base{
            color:rgb(189, 193, 194);
        }
        .ml-3-text-xl{
            margin-left: 20px;
            font-family: 'Smooch', cursive;
        }
        .leading-relaxed-mb-4{
            color: rgb(217, 222, 223);
        }